.section {
  padding-bottom: 50px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
  margin-bottom: 20px;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 16px;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 3px;
}

.text::first-letter {
  text-transform: uppercase;
}

.cheackbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  cursor: pointer;
}

.customCheckbox {
  padding: 4px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid var(--accentCOlor);
  margin-right: 10px;
  background-color: transparent;
  transition: background-image 0.3s ease;
  cursor: pointer;
}

.cheackbox:checked + .customCheckbox {
  background-image: url('../../../../../../../assets//checkbox.svg');
  background-size: 14px;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form {
  margin-top: 20px;
  display: flex;
}

.labelPost {
  flex-basis: calc(50% - 50px);
  flex-grow: 1;
  margin-right: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.labelPost:nth-child(2) {
  margin-right: 0px;
}

.inputPost {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--accentCOlor);
  border-radius: 12px;
  padding: 10px;
  margin-top: 5px;
}

.inputPost::placeholder {
  color: var(--accentCOlor);
  font-size: 14px;
  line-height: 34px;
}

.formStore {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flex {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.labelSelect {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 40px;
}

.labelSelect:last-child {
  margin-right: 0px;
}

.select {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  color: var(--accentCOlor);
  border: 1px solid var(--accentCOlor);
  padding: 10px 30px 10px 10px;
  background-color: #fff;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background: url('../../../../../../../assets/arrowDawn.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px;
  cursor: pointer;
}

.inputDate {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--accentCOlor);
  border-radius: 12px;
  padding: 10px;
  margin-top: 5px;
  color: var(--accentCOlor);
}
